.appoint-container{
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

#appointId{
    margin: 20px 20px;
    margin-left: 80px;
    width: 260px;
    background-color: rgb(248, 248, 248);
    padding: 10px 25px;
    line-height: 17px;
    /* border: 0.5px solid gray; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(206, 205, 205);
    text-align: center;
}
.book-btn{
    padding: 7px 8px;
    background-color: rgba(96, 195, 228, 0.904);
    border: none;
    border-radius: 5px;
}
.modal-name{
    margin-left: 120px;
}
.modal-input input{
    margin: 10px 20px;
    width: 70%;
    margin-left: 70px;
    border: 0.1em solid rgb(212, 212, 212);
    padding: 4px 0px;
    border-radius: 5px;
    /* border:none; */
    cursor: pointer;
    outline:none;
}