.menu{
    margin-right: 40px;
    margin-top: 30px;
    color: gray;
}
.nav{
    color: gray;
    /* line-height:300%; */
    padding-left: 50px;
}
.container{
    background-image: url(../MaskGroup2.png);
    height: 100%;
    width: 100%;
    position: absolute;
    /* right: 3px; */
    /* margin-left: 20px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.calender-chair{
    display:flex;
    margin-top: 80px;
}
.chair img{
    width: 410px;
    height: 240px;
    margin-left: 80px;
}
.appoinment h1{
    margin-left: 90px;
}

.calendar{
    /* height: 100%; */
    width: 60%;
    margin-top: 50px;
    margin-left: 80px;
    border: none;
}
.calendar-style{
    height: 370px;
    /* /* border-style: none; */
    border: 1px solid gray; 
    /* background-color: aqua; */
}
.appointed-date h5{
    text-align: center;
    margin-top: 50px;
    color: rgb(39, 187, 236);
}